*{margin: 0; padding: 0; outline: 0}
body{font-family: arial; font-size: 18px; color:#581845; line-height: 25px;}
.content{background:#DAF7A6; width: 800px; margin: 0 auto;}
.maincontent{background:#C6F76E; margin:10px; min-height: 500px; padding: 5px 10px;}
.header, .footer{text-align: center; background:#A6A8A1; padding: 10px;}